.ActivityCard {
    display: block;
    text-align: start;
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 0.9em;
    width: 70%;

}

.activity-container {
    margin-bottom: 20px;
}

.activity-row {
    display: flex;
    align-items: center;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    background-color: white;

}

.activity-details {
    border: none;
}

.img-activity {
    width: 100%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}