.ActivityCard {
    display: block;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
}

.activity-row {
    display: flex;
    align-items: center;
    width: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 20px;
    margin: 0 auto;
    width: 80%;
    padding: 20px;

}

.activity-details {
    border: none;
}

.img-activity {
    width: 100%;
    height: 300px;
}