.modal-form {
    text-align: start;
    padding: 30px;
    background-color: rgb(172, 176, 181);
}

.modal-form-button {
    border: none;
    margin-right: 20px;
    background-color: #3291BA;
    padding: 10px;
    margin-bottom: 80px;
    margin-left: 35%;
    align-content: center;
    width: 400px;
}