.rowCard {
    position: relative;
    top: 90px
}

.imgCol {
    width: 45%;
    overflow: hidden;
}

.cityCard {
    padding-bottom: 10px;
}

.CityButton {
    background-color: #2D373B;
}

.CityButton :hover {
    background-color: aliceblue;
}

.card-header {
    background-color: white;
    font-size: 2em;
}