.ActivityDetailsCard {
    position: relative;
    top: 90px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;

}

.img-activity {
    width: 100%;
    height: auto;
    padding: 10px;
}

.location-pin {
    width: 40px;
    height: 40px;
}

.positioning {
    display: flex;
    justify-content: space-between;
}

.act-category strong {
    padding: 7px;
    background-color: #3291BA;
    border-radius: 5px;
    color: white;
}

@media screen and (min-width: 480px) {
    .act-category {
        padding: 7px;
        background-color: #3291BA;
        border-radius: 5px;
        color: white;
        text-align: center;
        margin-left: 15px;
    }

    .btn-edit {
        margin-top: 1px;
        margin-bottom: 30px;
    }

    .img-activity {
        margin-bottom: 15px;
    }

    .noRate,
    .rate {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.free-act {
    color: green;
}

.btn-back {
    border: none;
    background-color: #2D373B;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-bottom: 10px;
}

.btn-back:hover {
    background-color: aliceblue;
    color: black;
}

.link-btn {
    text-decoration: none;
}

.btns {
    display: flex;
    justify-content: end;
}

.btn-edit {
    background-color: #3291BA;
    margin-top: 31px;
}

.act-description {
    text-align: justify;
}

.text h2 {
    text-align: start;
    margin-bottom: 20px;
}

.noRate {
    text-align: center;
    color: rgb(199, 5, 5);
    margin-top: 20px;
    font-size: 1.05em;
}

.rate {
    text-align: center;
    margin-top: 20px;
    font-size: 1.05em;
}

.rate-positioning {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.average-rating {
    text-align: center;
}

.btn-review {
    cursor: pointer;
    color: #0a6a94;
}

.modal-review {
    text-align: center;
}

.modal-comments {
    text-transform: capitalize;
    font-style: italic;
    border-bottom: 1px solid rgb(199, 194, 194);
    padding: 20px;
}