.Footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    width: 100vw;
    height: 50px;
    padding: 20px;
    background-color: #3F7891;
    border-top: 1px solid black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Footer .github-logo {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.Footer a {
    text-decoration: none;
    color: white;
}

.Footer p {
    margin-left: 10px;
    margin-top: 15px;
    color: white;
}