.App {
  min-width: 100vw;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.colors {
  color: #3291BA;

  /*---------*/
  color: #3F7891;
  /*para el footer y para el navbar */

  color: #17A8E6;
  color: #3D5A66;
  color: #2D373B;
  color: #2C3133
}